{
  "env": {
    "node": true,
    "mocha": true,
    "commonjs": true,
    "es6": true,
  },
  "parserOptions": {
    "ecmaVersion": 8,
  },
  "extends": ["airbnb-base"],
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true,
      },
    ],
    "no-shadow": [
      "error",
      {
        "builtinGlobals": false,
        "hoist": "functions",
        "allow": [],
      },
    ],
    "no-use-before-define": [
      "error",
      {
        "variables": false,
      },
    ],
    "comma-dangle": ["error", "never"],
    "semi": 1,
    "no-new-wrappers": 0,
    "no-mixed-operators": 0,
    "require-atomic-updates": 0,
    "no-unused-vars": 0,
    "no-useless-constructor": 0,
    "no-useless-escape": 0,
    "no-console": 0,
    "no-debugger": 0,
    "no-empty": 0,
    "disable-next-line": 0,
    "no-case-declarations": 0,
    "default-case": 0,
    "no-async-promise-executor": 0,
    "require-await": 1,
    "no-underscore-dangle": 0,
    "no-multi-str": 0,
    "linebreak-style": 0,
    "eol-last": 0,
    "indent": 0,
    "no-trailing-spaces": 0,
    "padded-blocks": 0,
    "brace-style": 1,
    "object-curly-newline": 0,
    "arrow-body-style": 0,
  },
}
