# Distribution
dist
out
build
node_modules

# Logs
*.log*
logs

# Environment
*.env*
!.env.example
.env.production
.env.test

# OAuth
token.json
client_secret*.json

# Runtime Data
api-stats.json

# Misc
.DS_Store
.pnpm-store

# Tests
coverage

# Others:
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
